<div class="container-fluid">
    <div class="row-fluid text-center">
        <h1>Registration Here</h1>
    </div>
    <div class="row-fluid">
        <div class="col-md-6">
   <!--         <form>
                <div class="form-group text-left">
                    <img src="http://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-thumbnail" alt="Cinque Terre" width="300" >
                </div>
                <div class="form-group">
                    <label for="fullName">Name</label>
                    <input ng-model="model.name" type="text" class="form-control" id="fullName" placeholder="Full Name" readonly>
                </div>
                <div class="form-group">
                    <label for="designation">Designation</label>
                    <select ng-model="model.designation" class="form-control" id="designation" disabled>
                        <option>Trainee</option>
                        <option>Associate Consultant</option>
                        <option>Consultant</option>
                        <option>Senior Consultant</option>
                        <option>Manager</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="client">Client</label>
                    <select ng-model="model.client.name" class="form-control" id="client" disabled>
                        <option>Discovery Health</option>
                        <option>Discovery Life</option>
                        <option>FNB Home Loan</option>
                        <option>RNB Finance</option>
                        <option>Polygon</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input ng-model="model.client.location" type="text" class="form-control" id="location" placeholder="Location" readonly>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input ng-model="model.email" type="email" class="form-control" id="email" placeholder="Email" readonly>
                </div>

                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input ng-model="model.phone" type="text" class="form-control" id="phone" placeholder="Phone">
                </div>

                <div class="form-group">
                    <label for="birthday">Birthday</label>
                    <input type="date" class="form-control" id="birthday" placeholder="Birthday">
                </div>
                <div class="checkbox">
                    <label>
                        <input ng-model="model.married" type="checkbox" > Are you married ?
                    </label>
                </div>
                <div class="form-group" ng-if="model.married">
                    <label for="anniversary">Anniversary</label>
                    <input type="date" class="form-control" id="anniversary" placeholder="Anniversary">
                </div>
                <div class="form-group">
                    <label for="joiningDate">Joining Date</label>
                    <input type="date" class="form-control" id="joiningDate" placeholder="Joining Date" readonly>
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
                </div>
            </form>-->



            <div> <!-- end : col -->

            </div> <!-- end : row -->

        </div>