<div class="col-md-12 text-center" ng-init="init()">
		
		<div class="text-right">
			<a ng-href="#/employee/search"><i class="fa fa-search fa-1x"> Search</i></a> 
		</div>

		<textarea spellcheck="false" placeholder="Full Name" style="width: 100%; color: #000000; outline: none; background-color: transparent; border-color: transparent; text-align: center; font-size: 24px; text-transform: uppercase; font-family: Georgia; font-weight: bold;"	ng-model="employee.fullName"></textarea>
		<img onclick="document.getElementById('upload').click()" ng-src="{{employee.photo}}" style="border-radius: 50% 50% 50% 50%; width: 150px; height: 150px;" />
		<br>
		<input id="upload" style="display: none;" type="file"  ng-file-select />
		<br> 
		<input	placeholder="Designation"  style="width:100%; color: #000000; outline: none; background-color: transparent; border-color: transparent; text-align: center; font-size: 24px; font-family: 'Open Sans'; font-weight: bold;" ng-model="employee.designation"/>	
		
		<br> 
		<input type="tel" placeholder="Phone" style="width: 100%; color: #000000; outline: none; background-color: transparent; border-color: transparent; text-align: center; font-size: 14px; line-height: 16px; font-family: 'Open Sans'; font-style: normal; font-weight: bold;" ng-model="employee.phone" /> 
		<input type="email" placeholder="Email"	spellcheck="false"  style="width: 100%; color: #000000; outline: none; background-color: transparent; border-color: transparent; text-align: center; font-size: 14px; line-height: 16px; font-family: 'Open Sans'; font-style: normal; font-weight: bold;"	ng-model="employee.email" /> 
		<input disabled type="text"	style="height: 48px; width: 48px; text-align: center; font-size: 30px;"	ng-value="{{employee.score[0]}}" /> 
		<input disabled type="text"	style="height: 48px; width: 48px; text-align: center; font-size: 30px;"	ng-value="{{employee.score[1]}}" /> 
		<input disabled type="text"	style="height: 48px; width: 48px; text-align: center; font-size: 30px;"	ng-value="{{employee.score[2]}}" /> 
		<input disabled type="text"	style="height: 48px; width: 48px; text-align: center; font-size: 30px;"	ng-value="{{employee.score[3]}}" /> 
		<br>
		<br>
		<textarea spellcheck="false" placeholder="About Me" cols="30" rows="3" style="color: #000000; outline: none; background-color: transparent; border-color: transparent; text-align: center; font-size: 16px; font-family: 'Open Sans'; font-style: italic;"	ng-model="employee.quote"></textarea>
		<br>
		<br>
		<button ng-click="create()" style="border-radius : 15px; border-size: 0px;">Create</button>
</div>