<div class="row-fluid" ng-init="init()">

	<div class="col-md-12 text-center" ng-if="mode==search">
		<div class="text-right">
			<a ng-href="#/employee/create"> <i
				class="fa fa-plus-square fa-1x"> Create</i>
			</a>
		</div>
		
		<div class="input-group">
			<input type="text" ng-model="searchText"
				class="form-control text-center" placeholder="Search Employee" />
			<div class="input-group-btn">
				<button type="submit" class="btn btn-success">
					<span class="glyphicon glyphicon-search"></span>
				</button>
			</div>
		</div>
		<br>
		<div class="panel panel-default">
			<table class="table table-responsive table-nonfluid table-striped">
				<tbody ng-repeat="employeex in employees  | filter:searchText">
					<tr style="cursor: pointer;" ng-click="viewEmployee(employeex.id)">
						<td style="text-align: right;"><img
							ng-src="{{employeex.photo}}" height="90" width="90"
							class="img-thumbnail" /></td>
						<td style="text-align: left;">
							<div>
								<h4>{{employeex.fullName}}</h4>
								<h5>{{employeex.designation}}</h5>
								<h6>{{employeex.address.city}},
									{{employeex.address.country}}</h6>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-md-12 text-center" ng-if="mode!=search">
		<div class="text-right">
			<a ng-href="#/employee/1/update"><i class="fa fa-edit fa-1x">
					Update</i></a> <a ng-href="#/employee/1/delete"><i
				class="fa fa-trash fa-1x"> Delete</i></a> <a ng-href="#/employee/create"><i
				class="fa fa-plus-square fa-1x"> Create</i></a> <a
				ng-href="#/employee/search"><i class="fa fa-search fa-1x">
					Search</i></a>
		</div>

		<textarea spellcheck="false" placeholder="Full Name"
			style="width: 100%; color: #000000; outline: none; background-color: transparent; border-color: transparent; text-align: center; font-size: 24px; text-transform: uppercase; font-family: Georgia; font-weight: bold;"
			ng-model="employee.fullName"></textarea>
		<img onclick="document.getElementById('upload').click()"
			ng-src="{{employee.photo}}"
			style="border-radius: 50% 50% 50% 50%; width: 150px; height: 150px;" />
		<br> <input id="upload" style="display: none;" type="file"
			disable ng-file-select /> <br> <input placeholder="Designation"
			ng-disabled="mode != 'edit'"
			style="color: #000000; outline: none; background-color: transparent; border-color: transparent; text-align: center; font-size: 24px; font-family: 'Open Sans'; font-weight: bold;"
			ng-model="employee.designation" list="designations">
		<datalist id="designations">
			<option value="Trainee">
			<option value="Associate">
			<option value="Consultant">
			<option value="Senior Consultant">
		</datalist>
		</input> <br> <input type="tel" placeholder="Phone"
			style="width: 100%; color: #000000; outline: none; background-color: transparent; border-color: transparent; text-align: center; font-size: 14px; line-height: 16px; font-family: 'Open Sans'; font-style: normal; font-weight: bold;"
			ng-model="employee.phone" /> <input type="email" placeholder="Email"
			style="width: 100%; color: #000000; outline: none; background-color: transparent; border-color: transparent; text-align: center; font-size: 14px; line-height: 16px; font-family: 'Open Sans'; font-style: normal; font-weight: bold;"
			ng-model="employee.email" /> <input disabled type="text"
			style="height: 48px; width: 48px; text-align: center; font-size: 30px;"
			ng-value="{{employee.score[0]}}" /> <input disabled type="text"
			style="height: 48px; width: 48px; text-align: center; font-size: 30px;"
			ng-value="{{employee.score[1]}}" /> <input disabled type="text"
			style="height: 48px; width: 48px; text-align: center; font-size: 30px;"
			ng-value="{{employee.score[2]}}" /> <input disabled type="text"
			style="height: 48px; width: 48px; text-align: center; font-size: 30px;"
			ng-value="{{employee.score[3]}}" /> <br>
		<textarea spellcheck="false" placeholder="About Me" cols="30" rows="3"
			style="color: #000000; outline: none; background-color: transparent; border-color: transparent; text-align: center; font-size: 16px; font-family: 'Open Sans'; font-style: italic;"
			ng-model="employee.quote"></textarea>
		<br> <br> <a ng-href="#/employee/1/update"><button
				style="border-radius: 15px; border-size: 0px;">Update</button></a> <a
			ng-href="#/employee/1/delete"><button
				style="border-radius: 15px; border-size: 0px;">Delete</button></a>
	</div>

</div>